<div class="main-content">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>


      <div class="container-fluid">


          <mat-card class="product-card" *ngFor="let tempProduct of products" >
          <mat-card-header>
            <mat-card-title>
              {{tempProduct.name}}
            </mat-card-title>

          </mat-card-header>

              <a routerLink="/products/{{ tempProduct.id}}">
                <img mat-card-image src="{{ tempProduct.imageUrl }}" class="img-responsive" width="10%" >
              </a>
            <mat-card-content>
                {{tempProduct.description}}
              </mat-card-content>
              <div class="price">{{tempProduct.unitPrice | currency: 'EUR'}}</div>
            <mat-card-actions>
              <button mat-raised-button (click)="addToCart(tempProduct)" color="accent"> Add to cart</button>
              <button mat-raised-button routerLink="/products/{{ tempProduct.id}}" color="primary">
                View Product
              </button>
            </mat-card-actions>



          </mat-card>
          <!-- If products empty the display message-->
          <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            No products found.
          </div>



    <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">

                </ngb-pagination>

              </div>
              <div class="col-md-3 mt-2" style="text-align: right">
                <span class="mr-2">Page Size</span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end footer -->
    </div>
</div>
<!--<div class="main-content">-->
<!--  <div class="section-content section-content-p30">-->
<!--    <h4>Category: {{ currentCategoryName }}</h4>-->
<!--    <hr>-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div *ngFor="let tempProduct of products" class="col-md-3">-->
<!--          <div class="product-box">-->
<!--            <a routerLink="/products/{{ tempProduct.id}}">-->
<!--              <img src="{{ tempProduct.imageUrl }}" class="img-responsive">-->
<!--            </a>-->
<!--            <a routerLink="/products/{{ tempProduct.id}}">-->
<!--              <h1>{{tempProduct.name}}</h1>-->
<!--            </a>-->
<!--            <div class="price">{{tempProduct.unitPrice | currency: 'EUR'}}</div>-->
<!--            <button (click)="addToCart(tempProduct)"  class="btn btn-primary btn-sm"> Add to cart</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; If products empty the display message&ndash;&gt;-->
<!--        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">-->
<!--          No products found.-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; begin footer &ndash;&gt;-->
<!--      <div class="footer-pagination">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6"></div>-->
<!--          <div class="col-md-6">-->
<!--            <div class="row">-->
<!--              <div class="col-md-9" style="padding-left: 30%">-->
<!--                <ngb-pagination [(page)]="thePageNumber"-->
<!--                                [pageSize]="thePageSize"-->
<!--                                [collectionSize]="theTotalElements"-->
<!--                                [maxSize]="5"-->
<!--                                [boundaryLinks]="true"-->
<!--                                (pageChange)="listProducts()">-->

<!--                </ngb-pagination>-->

<!--              </div>-->
<!--              <div class="col-md-3 mt-2" style="text-align: right">-->
<!--                <span class="mr-2">Page Size</span>-->
<!--                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">-->
<!--                  <option>2</option>-->
<!--                  <option selected="true">5</option>-->
<!--                  <option>10</option>-->
<!--                  <option>20</option>-->
<!--                  <option>50</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; end footer &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
